:root {
	--background-width: 600px;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-image: url("./img/galaxy-rainbow.jpg");
	background-size: cover;
	margin-top: 50px;
}
p {
	color: white;
}
#grid {
	margin: 5px;
	width: 560px;
	height: 560px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: -569px;
}

#background {
	border-style: solid;
	border-width: 5px;
}

.main {
	display: flex;
	gap: 20px;
	align-items: center;
}

.tile {
	background: black;
	border-radius: 10%;
}

.footer {
	width: 100%;
	height: 75px;
	background: lightgray;
	text-align: center;
	line-height: 0.5;
}
