@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=MedievalSharp&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--background-width: 600px;
	--gray: rgb(164, 164, 164);
}

a {
	color: var(--gray);
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("./img/galaxy-rainbow.jpg");
	background-size: cover;
	font-family: Macondo Swash Caps, sans-serif;
}
p {
	color: white;
}

#drawing-area {
	margin-top: 50px;
}

#grid {
	margin: 3px;
	width: 563px; /*Intentionally going onto the margin to account for differing browser renderings*/
	height: 563px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: -570px;
}

#background {
	border-style: solid;
	border-width: 5px;
}

.main {
	display: flex;
	gap: 50px;
}

button {
	background: #056ca3;
	color: white;
	font-family: inherit;
	font-size: inherit;
	border: none;
	border-radius: 8px;
}
button:hover {
	background: #2e98d2;
}
#generateBtn {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 189px;
	height: 30px;
}

#settings {
	border-style: solid;
	border-color: var(--gray);
	padding: 5px;
	visibility: hidden;
	background: rgba(78, 138, 172, 0.25);
}
#settings p {
	margin: 5px;
}
#goBtn {
	width: 40px;
	height: 30px;
	margin: 5px 0px 5px 40%;
}

.right-side {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tile {
	background: black;
	position: relative;
}

.footer {
	width: 100%;
	height: 45px;
	background: rgba(78, 138, 172, 0.25);
	position: fixed;
	bottom: 0;
	text-align: center;
	line-height: 0.4;
	font-size: 12px;
}
